@import "bootstrap";
@import "font-awesome";
@import "users";
@import "posts";
body {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.user-section {
    a {
        padding-left: 15px;
    }
    i.fa {
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: #000000d4;
    }
    a.avatar-nav img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.search-form {
    input {
        font-size: 13px;
        text-align: center;
    }
}

.footer {
    // position: absolute;
    // bottom: 0px;
    font-size: 12px;
    padding-top: 30px;
    ul {
        padding-left: 0;
        >li {
            display: inline;
            padding-right: 15px;
            color: #003569;
        }
    }
    p {
        color: #999;
    }
}

.main-footer {
    margin-top: 20px;
}